@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  padding: 0;
  font-family: system-ui;
}

.containerh1 {
  background-color: #841C26;
  border-radius: 5px;
  padding: 15px;
  justify-content: space-between;
  display: flex;
}

.containerh1 h1 {
  margin: 0;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 10px;
  margin-top: 10px;
}

body {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

p {
  font-weight: bold;
}

/* ajuste de margem entre titulo e input/select*/

#genero {
  margin-top: 10px;
}

#peso {
  margin-top: 10px;
}

#idade {
  margin-top: 10px;
}

#altura {
  margin-top: 10px;
}

#atv_fisica {
  margin-top: 10px;
}

/* selects e inputs */

select, input {
  border: 2px solid #4E0012;
  border-radius: 5px;
  padding: 7px;
  width: 70%;
  
}

button {
  padding: 10px;
  margin: 0px;
  background-color: #670A13;
  color: #ffff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
}
